.bg-footer-top {
    background-image: url("/src/assets/img/footer-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}

.footer-title {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    padding: 10px 0;
}

.ul-link {
    color: grey;
    list-style: none;
    font-size: 0.8rem;
}

.footer-sx {
    display: flex;
 
    flex-direction: column;

}

.footer-col {
    display: flex;
    gap: 20px;
}

