.bg-grey {
    background-color: rgb(44, 44, 44);
    padding:  20px 0;
}


.sign-up {
    border: 2px solid #147beb;
    padding: 5px 10px;
    font-weight: 700;
    color: white;
}

.footer-bottom p {
    color: white;
    font-weight: 700;
}