.bg-white {
    background-color: rgb(255, 255, 255);
    height: 100px;
    padding: 10px 0;
}


.nav-link {
    text-transform: uppercase;
    list-style: none;
    gap: 10px;
    font-size: 0.8rem;
    font-weight: 700;
    color: #3f3f3f;
}