.bg-black {
background-color: black;
padding: 50px 0;
}

.placeholder {
    color: white;
}

h1 {
    font-size: 1rem;
    color: white;
    background-color: #147beb;
    padding: 5px 20px;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    top: -70px;
    left: 0;
}

.load-button {
    font-size: 0.8rem;
    font-weight: 700;
    color: white;
    background-color: #147beb;
    padding: 5px 30px;
    text-transform: uppercase;
    display: inline-block;
    border: 0;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

main {
    position: relative;
}

.col-main {
    width: calc((100% - (20px * 5)) / 6 );
    
}

.col-main img {
    width:100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.wrap {
    flex-wrap: wrap;
}

.comics-title {
    font-size: 0.8rem;
    color: lightgray;
    text-transform: uppercase;
    font-weight: 600;
}

.gap-20 {
    gap: 20px;
}