/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* LAYOUT */

.container {
    max-width: 80%;
    margin: 0 auto;
}


/* TYPOGRAPHY */

body {
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

